body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

.gs-1 {
  grid-column: auto / span 2;
}

.gs-2 {
  grid-column: auto / span 2;
}

.gs-3 {
  grid-column: auto / span 3;
}

.gs-4 {
  grid-column: auto / span 4;
}

.gs-a {
  grid-column: 1 / -1;
}

@media screen and (min-width:540px) {
  .sm-gs-1 {
    grid-column: auto / span 1;
  }

  .sm-gs-2 {
    grid-column: auto / span 2;
  }

  .sm-gs-3 {
    grid-column: auto / span 3;
  }

  .sm-gs-4 {
    grid-column: auto / span 4;
  }
}

@media screen and (min-width:768px) {
  .md-gs-1 {
    grid-column: auto / span 1;
  }

  .md-gs-2 {
    grid-column: auto / span 2;
  }

  .md-gs-3 {
    grid-column: auto / span 3;
  }

  .md-gs-4 {
    grid-column: auto / span 4;
  }
}

@media screen and (min-width:960px) {
  .lg-gs-1 {
    grid-column: auto / span 1;
  }

  .lg-gs-2 {
    grid-column: auto / span 2;
  }

  .lg-gs-3 {
    grid-column: auto / span 3;
  }

  .lg-gs-4 {
    grid-column: auto / span 4;
  }
}